<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn pull-right" href="#"><i class="icon-list"></i> Retour</a>
			<a href="#"><img src="images/KJ-logo.png" alt="logo"/></a>
		</div>
	</div>
</header>
<header class="head container-fluid">
		<h2>{{items.[0].cat}}</h2>
</header>
<div class="container-fluid">
    <ul class="unstyled">
    {{#each items}}
        <li class="cat_list">
        	<h3>{{this.title}}</h3>
        	<p>{{this.description}}</p>
        	<a class="btn btn-block" href="#flux_rss/{{this.id}}">Voir les dernières news</a>
        </li>
    {{/each}}
    </ul>
</div>