<script type="text/javascript" >
    $(document).ready(function () {  
        $('#divRss').FeedEk({
            FeedUrl: 'http://feeds2.feedburner.com/BonjourMadame',
            MaxCount: 3
        });
        $('#divRss2').FeedEk({
            FeedUrl: 'http://backend.deviantart.com/rss.xml?q=in%3Aphotography+sort%3Atime',
            MaxCount: 3
        });
    });    
</script>


{{#each items}}
	<h2>{{this.title}}</h2>
	<p>{{this.paragraph}}</p>
{{/each}}

<div class="rssDiv">
	<h2>RSS 1</h2>
	<div id="divRss"></div>
</div>
<div class="rssDiv">
	<h2>RSS 2</h2>
	<div id="divRss2"></div>
</div>

<a href="#">Retour</a>
